.everglow-dark-mode {
	--everglow-font-color-0: #b3b3b3;
	--everglow-font-color-1: #c5c5c5;
	--everglow-font-color-2: #dddddd;
	--everglow-font-color-3: #e0e0e0;

	--everglow-background-color: #25292e;

	--everglow-white: #0f1720;
	--everglow-black: #ffffff;
	--everglow-grey-0: #333333;

	--everglow-blue-0: #00479e;
	--everglow-blue-5: var(--everglow-blue-2);

	--everglow-green-1: #0d5f0d;
	--everglow-green-2: #2c8b55;
	--everglow-green-3: #b0d471;

	--everglow-red-0: #52000c;

	--everglow-trans-white-2: #0d2034d9;
	--everglow-trans-white-5: #0f253d8e;

	--everglow-trans-white-3: rgba(0, 0, 0, 0.3);
	--everglow-trans-black-3: rgba(255, 255, 255, 0.2);

	--everglow-trans-blue-0: #09132077;
	--everglow-trans-blue-1: #5288c177;
	--everglow-trans-blue-2: #0c4cac77;

	--everglow-trans-pink-0: #21131a77;
	--everglow-trans-pink-1: #aa608477;
}
